<div id="vk_auth"></div>

<script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
<script>
    const VKID = window.VKIDSDK;

    VKID.Config.init({
        app: 54356598,
        redirectUrl: "https://herzenboardstars.lol/oauth/complete/vk-oauth2/",
        responseMode: VKID.ConfigResponseMode.Redirect,
        source: VKID.ConfigSource.WEB,
        scope: "",
    });

    const authButton = new VKID.AuthButton();

    authButton.render({
        container: "#vk_auth",
        lang: "ru",
        showTos: true
    });
</script>
